Source: kaisen-interfaces
Priority: standard
Section: kaisen-packages
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Homepage: https://kaisenlinux.org

Package: kaisen-interfaces-common
Architecture: all
Priority: standard
Depends: firefox,
         plymouth,
	 plymouth-themes,
         kaisen-menu,
         lightdm,
         lightdm-gtk-greeter,
	 kaisen-skeleton,
         kaisen-design,
         fonts-cantarell,
	 terminator,
Recommends: lightdm-gtk-greeter-settings,
	    fonts-liberation,
	    fonts-noto-color-emoji,
	    thunderbird,
	    libreoffice,
	    qbittorrent,
	    vlc,
	    gimp,
	    breeze-cursor-theme,
	    power-profiles-daemon,
	    xserver-xorg-input-synaptics,
Replaces: kaisen-kde,
	  kaisen-lxde,
	  kaisen-lxqt,
	  kaisen-mate,
	  kaisen-xfce,
Description: Common files for all Kaisen Linux interfaces metapackages

Package: kaisen-kde
Architecture: all
Priority: standard
Depends: kaisen-interfaces-common (= ${source:Version}),
	 kde-standard,
	 kde-style-breeze,
	 sddm,
	 sddm-theme-breeze,
	 network-manager,
Recommends: print-manager, bluedevil
Description: Kaisen KDE desktop environment configurations

Package: kaisen-lxqt
Architecture: all
Priority: standard
Depends: kaisen-interfaces-common (= ${source:Version}),
	 lxqt,
	 lxqt-archiver,
	 cmst,
Recommends: gnome-calculator,
Description: Kaisen LXQT desktop environment configurations

Package: kaisen-mate
Architecture: all
Priority: standard
Depends: kaisen-interfaces-common (= ${source:Version}),
	 mate-desktop-environment,
	 mate-tweak,
	 mate-media,
	 network-manager-gnome,
Description: Kaisen MATE desktop environment configurations

Package: kaisen-xfce
Architecture: all
Priority: standard
Depends: kaisen-interfaces-common (= ${source:Version}),
	 xfce4,
	 xfce4-panel,
	 xfce4-power-manager,
	 xfce4-power-manager-data,
	 xfce4-power-manager-plugins,
	 xfce4-pulseaudio-plugin,
	 xfce4-screenshooter,
	 xfce4-session,
	 xfce4-settings,
	 xfce4-terminal,
	 xfce4-whiskermenu-plugin,
	 gedit,
	 network-manager,
	 network-manager-gnome,
	 thunar-archive-plugin,
	 xarchiver,
Recommends: gnome-calculator,
	    xscreensaver
Description: Kaisen XFCE desktop environment configurations
