Source: kaisen-interfaces
Priority: standard
Section: kaisen-packages
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisen-linux.org>
Uploaders: Kevin Chevreuil - Kaisen <kaisen@kaisen-linux.org>
Standards-Version: 4.5.0
Build-Depends: debhelper
Homepage: https://kaisen-linux.org/kaisen

Package: kaisen-kde
Architecture: all
Priority: standard
Depends: kde-standard,
	 firefox,
	 firefox-l10n-fr,
	 firefox-l10n-es-es,
	 firefox-l10n-pt-pt,
	 firefox-l10n-it,
	 firefox-l10n-de,
	 sudo,
	 gksu,
	 plymouth,
	 kaisen-menu,
	 sddm,
	 terminator,
	 vim,
	 zsh,
	 kaisen-skeleton,
	 locales-all,
	 sddm-theme-breeze,
	 kaisen-design,
Description: Kaisen KDE desktop environment configurations

Package: kaisen-lxde
Architecture: all
Priority: standard
Depends: lxde,
	 lightdm,
	 lightdm-gtk-greeter,
	 lightdm-gtk-greeter-settings,
	 network-manager,
	 network-manager-gnome,
	 firefox,
         firefox-l10n-fr,
         firefox-l10n-es-es,
         firefox-l10n-pt-pt,
         firefox-l10n-it,
         firefox-l10n-de,
	 sudo,
	 gksu,
	 kaisen-menu,
	 xcursor-themes,
	 terminator,
	 vim,
	 zsh,
	 plymouth,
	 kaisen-skeleton,
	 locales-all,
	 fonts-cantarell,
	 conky-all,
	 conkycolors,
	 kaisen-design,
Description: Kaisen LXDE desktop environment configurations

Package: kaisen-mate
Architecture: all
Priority: standard
Depends: mate-desktop-environment,
	 lightdm,
	 lightdm-gtk-greeter,
	 lightdm-gtk-greeter-settings,
	 network-manager,
	 network-manager-gnome,
	 firefox,
         firefox-l10n-fr,
         firefox-l10n-es-es,
         firefox-l10n-pt-pt,
         firefox-l10n-it,
         firefox-l10n-de,
	 sudo,
	 gksu,
	 kaisen-menu,
	 plymouth,
	 xcursor-themes,
	 terminator,
	 vim,
	 zsh,
	 kaisen-skeleton,
	 locales-all,
	 fonts-cantarell,
	 conky-all,
	 conkycolors,
	 kaisen-design,
Description: Kaisen MATE desktop environment configurations

Package: kaisen-xfce
Architecture: all
Priority: standard
Depends: xfce4,
	 xfce4-panel,
	 xfce4-power-manager,
	 xfce4-power-manager-data,
	 xfce4-power-manager-plugins,
	 xfce4-pulseaudio-plugin,
	 xfce4-screenshooter,
	 xfce4-session,
	 xfce4-settings,
	 xfce4-terminal,
	 lightdm,
	 lightdm-gtk-greeter,
	 lightdm-gtk-greeter-settings,
	 network-manager,
	 network-manager-gnome,
	 firefox,
         firefox-l10n-fr,
         firefox-l10n-es-es,
         firefox-l10n-pt-pt,
         firefox-l10n-it,
         firefox-l10n-de,
	 sudo,
	 gksu,
	 kaisen-menu,
	 plymouth,
	 xcursor-themes,
	 terminator,
	 xfce4-terminal,
	 vim,
	 zsh,
	 kaisen-skeleton,
	 locales-all,
	 fonts-cantarell,
	 kaisen-design,
Description: Kaisen XFCE desktop environment configurations
