[Desktop Entry]
Name=User folders update - Kaisen launcher
Exec=xdg-user-dirs-update
Hidden=false
Type=Application
X-KDE-Autostart-enabled=true
X-LXQt-Autostart-enabled=true
X-MATE-Autostart-enabled=true
X-XFCE-Autostart-enabled=true
