[Desktop Entry]
Name=LXQt network manager
Exec=/usr/bin/cmst --minimized
Hidden=false
Type=Application
StartupNotify=false
OnlyShowIn=LXQt
X-LXQt-Need-Tray=true
